/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
  --primary-color: #00675c;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --color-visited: #05676e;
  --color-active: #489c79;
  --grid-color: #d3d3d3;
  --heading-font-weight: 700;
}

a {
  color: var(--primary-color);
}

body {
  font-family: 'Lato' , sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: var(--heading-font-weight);
  -webkit-animation: slideInUp 1s linear 1;
          animation: slideInUp 1s linear 1
}

h2 {
  font-size: 24px;
  font-weight: var(--heading-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--heading-font-weight);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}


@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    visibility: visible;
  }
}


@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    visibility: visible;
  }
}

a:hover,
a:focus {
  text-decoration: none;
}

a:visited {
  color: #05676e;
}

a:active {
  color: #489c79;
}

input,
texture,
select,
button {
  font-family: system-ui;
}

button {
  border: none;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: #e0b354;
  color: #2b2b2b;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

/*Home page*/
.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  height: auto;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

/* Grid fallback*/
.grid__item {
  display: inline-block;
  width: 33%;
}

.grid{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
}

/*Work page*/
.grid__item{
  background-color: #D3D3D3;
  width: auto;
}

.grid__item:last-child{
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

 /* Contact Page */
.contact__section{
  text-align: center;
}

.contact-form  {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width:30%;
    margin: 0 auto;

  }

/*About Page*/
.about__section{
  text-align: center;
}

.about__table{
  margin-left: auto;
  margin-right: auto;
}

.projectlist__title{
  text-align: center;
}


.cloud2 {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-name: cloud-move;
          animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.cloud1 {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-name: cloud-move-reverse;
          animation-name: cloud-move-reverse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}


@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  to {
    -webkit-transform: translate(100px, 0px);
            transform: translate(100px, 0px);
  }
}


@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  to {
    -webkit-transform: translate(100px, 0px);
            transform: translate(100px, 0px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(0px,0px);
            transform: translate(0px,0px);
  }
  to {
    -webkit-transform: translate(-100px, 0px);
            transform: translate(-100px, 0px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(0px,0px);
            transform: translate(0px,0px);
  }
  to {
    -webkit-transform: translate(-100px, 0px);
            transform: translate(-100px, 0px);
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .about, .contact {
    width: 80%
  }

  .social-media {
    margin: 0 35%;
  }

  .navigation-list li {
    margin-top: auto;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .social-media {
    margin: 0 40%;
  }
  .about, .contact {
    width: 70%;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  .grid__item:nth-last-child(2) {
    -ms-grid-column: 1;
    grid-column: 1/1;
    grid-row: auto/auto;
  }
}

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
}
